<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-envio-heading" jhiTranslate="tiendaApp.facturaEnvio.home.createOrEditLabel">Create or edit a Envio</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="tiendaApp.facturaEnvio.idEnvio" for="field_idEnvio">Id Envio</label>
                    <input type="text" class="form-control" name="idEnvio" id="field_idEnvio"
                           formControlName="idEnvio"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="tiendaApp.facturaEnvio.fecha" for="field_fecha">Fecha</label>
                    <div class="d-flex">
                        <input id="field_fecha" type="datetime-local" class="form-control" name="fecha" formControlName="fecha" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                    <div *ngIf="editForm.get('fecha')!.invalid && (editForm.get('fecha')!.dirty || editForm.get('fecha')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('fecha')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('fecha')?.errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                            This field should be a date and time.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="tiendaApp.facturaEnvio.detalles" for="field_detalles">Detalles</label>
                    <input type="text" class="form-control" name="detalles" id="field_detalles"
                           formControlName="detalles"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="tiendaApp.facturaEnvio.factura" for="field_factura">Factura</label>
                    <select class="form-control" id="field_factura" name="factura" formControlName="factura">
                        <option *ngIf="!editForm.get('factura')!.value" [ngValue]="null" selected></option>
                        <option [ngValue]="facturaOption.id === editForm.get('factura')!.value?.id ? editForm.get('factura')!.value : facturaOption" *ngFor="let facturaOption of facturas; trackBy: trackById">{{ facturaOption.idFactura }}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('factura')!.invalid && (editForm.get('factura')!.dirty || editForm.get('factura')!.touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('factura')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
