<div class="row">

    <div class="col-md-9">
        <h1 class="display-4">Estudio y desarrollo web del framework JHipster</h1>

        <div [ngSwitch]="isAuthenticated()">
            <div class="alert alert-success" *ngSwitchCase="true">
                <span id="home-logged-message" *ngIf="account" jhiTranslate="home.logged.message"
                    [translateValues]="{ username: account.login }">You are logged in as user "{{ account.login }}".</span>
                    <span >Esta es la pagina web creada como apoyo del trabajo de fin de grado llamado 'Estudio y desarrollo web del framework JHipster'. La pagina web es una demostracion, no una pagina final con todas las caracteristicas que puede tener una pagina de una tienda, lo que se a buscado ha sido enseñar ha sido las modificaciones mas significativas </span>
            </div>

            <div class="alert alert-warning" *ngSwitchCase="false">
                <span >Esta es la pagina web creada como apoyo del trabajo de fin de grado llamado 'Estudio y desarrollo web del framework JHipster'. La pagina web es una demostracion, no una pagina final con todas las caracteristicas que puede tener una pagina de una tienda, lo que se a buscado ha sido enseñar ha sido las modificaciones mas significativas </span>
            </div>

        </div>

    </div>
</div>
