<div>
    <h2 id="page-heading">
        <span jhiTranslate="tiendaApp.productoArticuloPedido.home.title">Articulo Pedidos</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-articulo-pedido" [routerLink]="['/articulo-pedido/new']">
            <fa-icon icon="plus"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="tiendaApp.productoArticuloPedido.home.createLabel">
            Create a new Articulo Pedido
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'tiendaApp.productoArticuloPedido.home.search' | translate }}">

                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon icon="search"></fa-icon>
                    </button>

                    <button class="input-group-append btn btn-danger" (click)="search('')" *ngIf="currentSearch">
                        <fa-icon icon="trash-alt"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>

    <div class="alert alert-warning" id="no-result" *ngIf="articuloPedidos?.length === 0">
        <span jhiTranslate="tiendaApp.productoArticuloPedido.home.notFound">No articuloPedidos found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="articuloPedidos && articuloPedidos.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="cantidad"><span jhiTranslate="tiendaApp.productoArticuloPedido.cantidad">Cantidad</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="total"><span jhiTranslate="tiendaApp.productoArticuloPedido.total">Total</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="estado"><span jhiTranslate="tiendaApp.productoArticuloPedido.estado">Estado</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="producto.nombre"><span jhiTranslate="tiendaApp.productoArticuloPedido.producto">Producto</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="pedido.idPedido"><span jhiTranslate="tiendaApp.productoArticuloPedido.pedido">Pedido</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let articuloPedido of articuloPedidos ;trackBy: trackId">
                    <td><a [routerLink]="['/articulo-pedido', articuloPedido.id, 'view']">{{ articuloPedido.id }}</a></td>
                    <td>{{ articuloPedido.cantidad }}</td>
                    <td>{{ articuloPedido.total }}</td>
                    <td jhiTranslate="{{ 'tiendaApp.EstadoArticuloPedido.' + articuloPedido.estado }}">{{ articuloPedido.estado }}</td>
                    <td>
                        <div *ngIf="articuloPedido.producto">
                            <a [routerLink]="['/producto', articuloPedido.producto?.id, 'view']" >{{ articuloPedido.producto?.nombre }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="articuloPedido.pedido">
                            <a [routerLink]="['/pedido', articuloPedido.pedido?.id, 'view']" >{{ articuloPedido.pedido?.idPedido }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/articulo-pedido', articuloPedido.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/articulo-pedido', articuloPedido.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(articuloPedido)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="articuloPedidos && articuloPedidos.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
