<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="notificacion">
            <h2><span jhiTranslate="tiendaApp.notificacionNotificacion.detail.title">Notificacion</span> {{ notificacion.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="tiendaApp.notificacionNotificacion.fecha">Fecha</span></dt>
                <dd>
                    <span>{{ notificacion.fecha }}</span>
                </dd>
                <dt><span jhiTranslate="tiendaApp.notificacionNotificacion.detalles">Detalles</span></dt>
                <dd>
                    <span>{{ notificacion.detalles }}</span>
                </dd>
                <dt><span jhiTranslate="tiendaApp.notificacionNotificacion.fechaEnvio">Fecha Envio</span></dt>
                <dd>
                    <span>{{ notificacion.fechaEnvio }}</span>
                </dd>
                <dt><span jhiTranslate="tiendaApp.notificacionNotificacion.tipo">Tipo</span></dt>
                <dd>
                    <span jhiTranslate="{{ 'tiendaApp.TipoNotificacion.' + notificacion.tipo }}">{{ notificacion.tipo }}</span>
                </dd>
                <dt><span jhiTranslate="tiendaApp.notificacionNotificacion.clienteId">Cliente Id</span></dt>
                <dd>
                    <span>{{ notificacion.clienteId }}</span>
                </dd>
                <dt><span jhiTranslate="tiendaApp.notificacionNotificacion.productoId">Producto Id</span></dt>
                <dd>
                    <span>{{ notificacion.productoId }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/notificacion', notificacion.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
